body {
    margin: 0;
    font-family: $font-family-sans-serif;
    -webkit-font-smoothing: $webkit-font-smoothing;
    -moz-osx-font-smoothing: $moz-osx-font-smoothing;
}

code {
    font-family: $font-family-courier;
}